<!doctype html>
<html>
<head>

</head>
<body>
<h1>Hello</h1>
<ul>
    {% for i in data_list %}
        <li class="item-{% cycle 'odd' 'even' %}">
            {{ i }}
        </li>
    {% endfor %}
</ul>
</body>
</html>